<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VKFileBrowserDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54475DD51D9D949200B0BB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54475DEC1D9D949200B0BB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54475DF71D9D949200B0BB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
